## 02-Lab - K-Means Clustering

This is the dataset of wheat seeds for various varieties.
The dataset contains 209 randomly selected instances of wheat seed information.

Here is the descrition of the fields.

1. area A, 
2. perimeter P, 
3. compactness $C = 4*pi*A/P^2$, 
4. length of kernel, 
5. width of kernel, 
6. asymmetry coefficient 
7. length of kernel groove. 
All of these parameters were real-valued continuous.

You are required to prepare the data, use kmeans clustering to group them according to the variety, find appropriate number of clusters and finally add labels to the data.

In [3]:
# Use kmeans clustering

import pandas as pd

seeds = pd.read_csv('https://raw.githubusercontent.com/colaberry/DSin100days/master/data/seeds_dataset.csv').dropna()
seeds.info()
seeds.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 0 to 208
Data columns (total 8 columns):
15.26    209 non-null float64
14.84    209 non-null float64
0.871    209 non-null float64
5.763    209 non-null float64
3.312    209 non-null float64
2.221    209 non-null float64
5.22     209 non-null float64
1        209 non-null int64
dtypes: float64(7), int64(1)
memory usage: 14.7 KB

   15.26  14.84   0.871  5.763  3.312  2.221   5.22  1
0  14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
1  14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
2  13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
3  16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
4  14.38  14.21  0.8951  5.386  3.312  2.462  4.956  1