## Lab  - Linear regression

In this lab, you need to work with Students data and grades as labels for Portugese students.
Your task is to fit a Linear model, and predict the grades (G3) based on suitable input variables.
You are required to do the data manipulation (converting text to numeric), train-test splits, k-fold cross validation etc to create the model.

Data is availabe in : https://raw.githubusercontent.com/colaberry/DSin100days/master/data/student-por.csv

Description is available here : https://archive.ics.uci.edu/ml/datasets/Student+Performance#

In [3]:
# Import the library
import pandas as pd

students_por_url = "https://raw.githubusercontent.com/colaberry/DSin100days/master/data/student-por.csv"
students = pd.read_csv(students_por_url,sep=';')
students.head()

#Write your code here or in other code cells down

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13